@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Barlow:wght@200&family=IBM+Plex+Mono:wght@100&display=swap');

body{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    color: hsl(231, 7%, 65%);
}

.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    box-sizing: border-box;
    padding-left: 15%;
}


.right{
    box-sizing: border-box;
    padding-right: 15%;
}

.logo{
    position: absolute;
    left: 15vw;
    height: 30px;
    width: 30px;
    background-image: url("./images/logo.svg");
    background-size: cover;
    margin-top: 10vh;
}
.menulogo{
    display:none;
}

ul{
    margin-top: 50px;
    float: right;
    display: flex;
    width: 500px;
    justify-content: space-around;
    box-sizing: border-box;
    padding-right: 50px;
}

ul li{
    font-size: 0.8rem;
    list-style-type: none;
}

.stitle{
    font-size: 1.2rem;
    padding-top: 25vh;
    padding-left: 5vw;
}

.title{
    font-family: 'Barlow Condensed', sans-serif;
    color:hsl(230, 29%, 20%);
    font-size: 3.2rem;
    margin-top: 5vh;
    margin-left: 5vw;
    font-weight: 700;
}

.explain{
    font-size: 0.8rem;
    margin-top: 5vh;
    margin-left: 5vw;
}

.buttons{
    margin-top: 5vh;
    margin-left: 5vw;
}

button{
    height: 50px;
    width: 48%;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 5px;
    font-family: 'Barlow', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8rem;
    font-weight: 800;
}

button:hover{
    background-color: hsl(0, 100%, 68%);
    color:rgb(255,255,255);
    transition: background-color 0.5s ease-in-out;
}

.illust{
    width: 50vw;
    height: 50vh;
    background-image: url(./images/illustration-devices.svg);
    background-size: cover;
    margin-top: 150px;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

a{
    color:hsl(230, 29%, 20%);
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}

.bluebox{
    text-align: center;
    display: inline-block;
    background-color: hsl(230, 29%, 20%);
    width: 60px;
    border-radius: 15px;
}
.grey{
    color:hsl(231, 7%, 65%);
}

@media(max-width:480px){
    .wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .left{
        order:4;
        width: 100vw;
        padding: 0 15%;
    }
    .right{
        order:3;
        width: 100vw;
        margin:0;
        padding: 0 10vw;
        text-align: center;
    }
    .illust{
        box-sizing: border-box;
        width: 100%;
        height: 60vw;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .menu{
        display:none;
    }
    .logo{
        margin-left: 0;
    }
    .stitle{
        padding:0;
        font-size:0.8rem;
    }
    .title{
        margin-left:0;
        font-size: 1.8rem;
    }
    .explain{
        margin-left:0;
    }
    .buttons{
        margin: 50px 0;
        width: 100%;
    }
    button{
        font-size: 0.4rem;
        width: 45%;
    }
    .menulogo{
        display:inline;
        position: absolute;
        right: 15vw;
        height: 30px;
        width: 30px;
        background-image: url(./images/icon-hamburger.svg);
        background-size: cover;
        margin-top: 10vh;
    }
    .menulogo:hover{
        background-image: url(./images/icon-close.svg);
    }
    .menulogo:hover ~.right>.menu{
        height: 120px;
        width: 100%;
        display: block;
        background-color: rgb(255,255,255);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        margin-top: 15vh;
    }
    ul{
        margin-top: 50px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    ul li{
        margin: 10px;
    }
}